.section-comand {
    background-color: var(--comand-color);
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .section-comand {
    font-size: 36px;
    line-height: 1.17;
  
    letter-spacing: 0.03em;
    margin-top: 0px;
    margin-bottom: 50px;
  }